*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    border: 2px solid;
    border-radius: 20px;
}
form label{
    display: block;
    font-size: 22px;
    font-weight: 400;
}
form input{
    width: 80%;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
}
form input[type="radio"]{
    width: 30px;
}
form textarea{
    width: 80%;
    height: 130px;
}
form button{
    width: 60%;
    padding: 6px;
    border-radius: 20px;
    margin-top: 10px;
}