* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
article {
  /* height: 300px; */
  width: 300px;
  border: solid;
  border-radius: 20px;
  /* line-height: 10px; */
  padding: 10px;
}

figure {
  text-align: center;
}
article img {
  height: 150px;
  width: 150px;
  border-radius: 20px;
}

article button {
  border: solid;
  margin-bottom: 10px;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: navy;
  color: white;
}
