* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 70px;
  border: solid;
  width: 100%;
}

ul {
  list-style: none;
  /* border: solid; */
  width: 100%;
}

button {
  border: none;
  background-color: transparent;
}
